<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your eyes</title>
    <link rel="stylesheet" href="../src/styles/love.css">
</head>
<body>
    <header>
        <h1>I love</h1>
    </header>

    <section>
        <img src="../public/img/your_eyes.jpg" alt="your_eyes">
        <p>I love the sparkle in your eyes because I know that no matter how sad you may be, there will always be a moment or an instant when you smile again or have that sparkle again.</p>
        <a href="./start.html">
            <button class="back">Back</button>
        </a>

        <a href="./next.html">
            <button class="next">Next</button>
        </a>
    </section>
</body>
</html>