<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatiful</title>
    <link rel="stylesheet" href="../src/styles/next.css">
</head>
<body>
    <header></header>

    <section>
        <img src="../public/img/cumple.jpg" alt="cumple">
        <p>You are someone quite happy, someone who keeps moving, someone intelligent, someone with a noble heart and a lot of qualities that if I started describing them now I don't think my whole life would be long enough.</p>
        <p>You don't know why I like you because we haven't had the chance to see each other and let me tell you that if you thought I was going to tell you on the page, I'm sorry to tell you that you were wrong.</p>
        <p>You are one of the most wonderful people I have ever met.</p>
        <a href="./i_love.html">
            <button>
                back
            </button>
        </a>
        <a href="./primera_vez.html">
            <button>
                next
            </button>
        </a>
    </section>
</body>
</html>