:root {
    --background-color: #e0f2fe;
    --primary-color: #3b82f6;
    --secondary-color: #60a5fa;
    --text-color: #1a3f7a;
    --font-stack: 'PT Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font: italic normal 400 16px/22px Arial, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-stack);
}

header {
    background-color: var(--secondary-color);
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.i_like_you {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 25% auto;
    text-align: center; /* Centra el contenido dentro de la caja */
}

.i_like_you a {
    text-decoration: none; /* Quita el subrayado del enlace */
}

.i_like_you button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-stack);
    transition: transform 0.2s ease;
}

.i_like_you button:hover {
    background-color: var(--background-color);
    transform: scale(1.05);
    color: black;
}