<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corazon vibrante</title>
    <link rel="stylesheet" href="../src/styles/end.css">
</head>
<body>
    <div class="heart">
        
        <p>You are my wonderwall because you are the only one who has managed to enter my heart for a long time❤️</p>



    </div>

    <a href="./primera_vez.html">
        <button>Back</button>
    </a>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js "></script>
</body>
</html>