<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/styles/primera_vez.css">
</head>
<body>
    <header></header>
    <section>
        <h2></h2>
        <img src="../public/img/primera_vez.jpg" alt="No carga">
        <p>You have no idea how much it cost me to send this audio. You're someone who can really get on my nerves when I really want your opinion.</p>
        <p>When I was sending it, I thought of a thousand ways to tell you, but in the end, I opted for the simplest: Sing it in English because at the end of the day, I do want you to be my Wonderwall.</p>
        <a href="./next.html">
            <button>Back</button>
        </a>
        <a href="./end.html">
            <button>End :)</button>
        </a>
        
    </section>
</body>
</html>