<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You're will can my wonderwall</title>
    <link rel="stylesheet" href="../src/styles/start.css">
</head>

<body>
    <header>
        <h1>I like you more than you should</h1>
    </header>
    <section class="about_she">

        <img src="../public/img/no_todo_puede_sesr_lindo.jpg" alt="Es linda hasta con el chichon">
        <p>She is Nicole is a person very special to me.</p>
        <p>I like her way of being and her way of seeing life, that doesn't mean that I don't love her at all, on the
            contrary, if I get angry with her that means that I do it because I care too much and I wouldn't stop doing
            it even if they gave me all the money in the world.</p>
        <p>I know I can sometimes be a bit of a problem for you because of things I say or do directly, but I really
            appreciate that, even knowing all of this, you're determined to stay despite everything.</p>
        <a href="./i_love.html">
            <button>Next</button>
        </a>
        <a href="../index.html">
            <button class="Back">Back</button>
        </a>

    </section>


    <footer>

    </footer>
</body>

</html>